:root{
	--installed_height: 720px;
	--installed_width: 25%;
	--parts_width: 70%;
}


#main
{
	background-image: url(https://www.company.com/.resources/company/img/web_master_background_v3.jpg);
	padding: 0.5%;
	color: #006580;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}



#title
{
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	color: white;
	background-color: #006580;
	padding: 0.5%;

}



#subtitle
{
	text-align: center;
	width: 40%;
	float: left;
	margin-left: 30%;

	margin-top: 1%;
	margin-bottom: 1%;
}

#menu
{
	float: right;
}

.buttons
{
	margin: 5px;
	float: left;

	padding: 5px;
	color: white;
	font-size: 18px;
	
}



#progress_bar
{	
	width: 35%;
	margin: 0 auto;
}

#bar
{
	border-color: #006580;
	border-width: 2px;
	border-style: solid;
	float: left;
	width:  80%;
	height: 18px;
}

#inner_bar
{
	background-color: #006580;
	height: 18px;
	width: 0%;
	color: white;
	text-align: center;
	font-size: 16px;
}

#time
{
	float: left;
	font-size: 16px;
	margin-left: 1%;
	

}

#workbench
{	
	margin: 1%;

	-webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
	background-color: #e7f3f6;
	
}

#machine_room
{

	margin: 5px;
	float: left;
	width: var(--installed_width);

	background-color: whitesmoke;
	
}

#machine_room_title
{
	text-align: center;
	margin-bottom: 1%;

	-webkit-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);
	font-size: 20px;
}

#installed
{
	height: var(--installed_height);
	overflow-y: scroll;
	position: relative;

}

#installed::-webkit-scrollbar-track
{
	border-radius: 10px;
}

#installed::-webkit-scrollbar
{
	width: 16px;
}

#installed::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #006580;
}

#parts
{

	margin: 5px;
	float: right;
	width: var(--parts_width);

	background-color: whitesmoke;
}

#parts_title
{
	text-align: center;
	-webkit-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);
	font-size: 20px;
}

#parts_to_use
{
	height: var(--installed_height);
	position: relative;

}

#footer
{
	text-align: center;
	margin: 5px;
}

.clear_both
{
	clear: both;
}


/* Styles to handle created divs by Java Script */

#select_progress
{
	position: absolute;
	z-index: 2;
	margin-left: 40%;
	top: 30%;
	width: 20%;

	background-color: #006580;
	color: white;
	text-align: center;
	padding: 1%;
	font-size: 20px;

	-webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
}

#progress_submit
{
	width: 80%;
	height: 24px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #00bed5 5%, #006580 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #00bed5;
	display:inline-block;
	cursor:pointer;

	padding: 3%;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

#progress_submit:hover {
	background:linear-gradient(to bottom, #006580 5%, #00bed5 100%);
	background-color:#00bed5;
}

#slider_cont
{
	margin: 10%;
}

.task
{
	height: 240px;
	width: 400px;
	text-align: center;
	position: absolute;
	border-radius: 12px;

}

.task_not_installed:hover
{
	transform: scale(1.05, 1.05);
	cursor: grab;
	-webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);

}

.task_installed
{
	position: static !important;
	margin: 0 auto;
	margin-top: 12%;
}

img 
{
	height: 240px;
	width: 400px;
	border-radius: 12px;
	border-style: solid;
	border-color: #e7f3f6;
}

a
{
	text-decoration: none;
	color: #006580;
	font-size: 18px;
	border-radius: 5px;
	background-color: rgba(245,245,245, 0.8)

}

#finish
{
	z-index: 999999999;
	position: absolute;
	width: 40%;
	left: 30%;
	top: 25%;
	padding: 1%;
	background-color: #006580;
	color: white;
	text-align: center;

	-webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
}